@use "../abstract" as *;

.model {
    width: 100%;
    height: 100%;
    @include position(fixed, 0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.6); //0.6 is opacity
    z-index: 2;
    @include flexBox(center, center);
    display: none;

    &__wrapper {
        display: flex;
        width: 80rem;
        height: 45rem;
        background: $white;
        position: relative;
        animation: modelAnimate 0.5s ease-in-out;

        @keyframes modelAnimate {
            from {
                transform: translateZ(-4rem);
            }

            to {
                transform: translate(0);
            }
        }

        @include responsive(sm) {
            width: 90%;
            height: auto;
        }

        &__close {
            @include position(absolute, .8rem, 1rem, null, null);
            display: block;
            font-size: 3rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            z-index: 1000;
        }

        &__image {
            width: 50%;
            height: 45rem;

            @include responsive(sm) {
                display: none;
            }

            &__img {
                // width: 100%;
                // height: 100%;
                // object-fit: cover;
                @include imageCover; //use mixin data here 
            }
        }

        &__contents {
            width: 100%;
            padding: 2rem 2rem;

            @include responsive(sm) {
                width: 100%;
            }

            &__p {
                margin-top: 1rem;
                font-size: 1.3rem;
                font-weight: 400;
                color: $black;
                line-height: 2.5rem;

                @include responsive(xsm) {
                    font-size: 1.2rem;
                }
            }

            &__block {
                @include flexBox(space-between, null);
                padding: .5rem;
                margin-top: 1.5rem;
                border-bottom: .1rem dashed $gray-200;

                &__left {
                    font-size: 1.4rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: $black;

                    @include responsive(xsm) {
                        font-size: 1.2rem;
                    }
                }


                &__right {
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: $gray-600;

                    @include responsive(xsm) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}